
.container {
    margin: 0 auto;
    width: 100%;
    clear: both;
    overflow: auto;
    background-color:#777;
}

header, nav, section, aside, footer{
    background-color: #ebebeb;;
}

header,nav, section, footer {
    margin: 20px;
}

header, nav, footer {
    width: 95%;
    margin-top: 0px;
    margin-bottom: 20px;
    height: 100px;
    padding: 10px;
    text-align: center;
}

section, aside {
    margin-top: 0px;
    text-align: center;
    height: 250px;
    padding: 10px;
    float: left;
}

header {
    margin-top: 20px;
}

section {
    width: 495px;
}

 article {
    margin: 20px;
    padding-top: 20px;
    overflow: auto;
    width: 90%;
    background-color: #777;
    text-align: center;
    color: #ebebeb;
    height: 190px;
    padding: 10px;
    float: left;
} 

aside {
    margin-bottom: 20px;
    width: 375px;
}

footer {
    margin-top: 20px;
    clear: both;
    
}
h1, p {
    color: #777;
    background-color: #ebebeb;
    padding: 5px;
    height: 35px;
    padding-top: 10px;
    width: 98%;
    text-align: center;
} 

body {
    margin-left: 175px;
    font: Arial, Helvetica Neue, Helvetica, sans-serif;
    color: #777;
    background-color: #777;
    width: 960px;
    font-size:18px
}